<html>
    <head>
        {# favicon #}
        <link rel="shortcut icon" href="/static/ico/favicon.ico">
        {# boostrap css #}
        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        {# local css #}
        <link rel="stylesheet" href="/static/css/app.css">
    </head>
    <body>
        <div class="container">
            <h1>Sezzle Calculator</h1>
            <p>by Caleb Schwarze</p>
            <hr>
            <div>
                <form id="calculator">
                    <input type="text" name="full-equation" id="full-equation">
                    {# this was used for the basic version #}
<!--                    <input type="text" name="first-num">-->
<!--                    <select name="operator">-->
<!--                        <option value="+">+</option>-->
<!--                        <option value="-">-</option>-->
<!--                        <option value="*">x</option>-->
<!--                        <option value="/">÷</option>-->
<!--                    </select>-->
<!--                    <input type="text" name="second-num">-->
<!--                    <button type="button" id="submit">Calculate</button>-->
                </form>

                <div>
                    <table id="visual-calculator">
                        <tbody>
                            <tr>
                                <td><button type="button" class="calc-btn add-input" value="1">1</button></td>
                                <td><button type="button" class="calc-btn add-input" value="2">2</button></td>
                                <td><button type="button" class="calc-btn add-input" value="3">3</button></td>
                                <td><button type="button" class="calc-btn add-input" value=" + ">+</button></td>
                            </tr>
                            <tr>
                                <td><button type="button" class="calc-btn add-input" value="4">4</button></td>
                                <td><button type="button" class="calc-btn add-input" value="5">5</button></td>
                                <td><button type="button" class="calc-btn add-input" value="6">6</button></td>
                                <td><button type="button" class="calc-btn add-input" value=" - ">-</button></td>
                            </tr>
                            <tr>
                                <td><button type="button" class="calc-btn add-input" value="7">7</button></td>
                                <td><button type="button" class="calc-btn add-input" value="8">8</button></td>
                                <td><button type="button" class="calc-btn add-input" value="9">9</button></td>
                                <td><button type="button" class="calc-btn add-input" value=" * ">x</button></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><button type="button" class="calc-btn add-input" value="0">0</button></td>
                                <td><button type="button" class="calc-btn add-input" value=" / ">÷</button></td>
                                <td><button type="button" class="calc-btn" id="submit-btn">=</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <hr>
                <div id="output" class="card"></div>
            </div>
        </div>

        {# jquery #}
        <script src="/static/js/jquery.min.js"></script>
        {# bootstrap js #}
        <script src="/static/js/bootstrap.min.js"></script>
        {# local js #}
        <script src="/static/js/app.js"></script>
    </body>
</html>