<h1>Sezzle Calculator</h1>
<p>by Caleb Schwarze</p>
<hr>
<div>
    <form id="calculator">
        <input type="text" name="first-num">
        <select name="operator">
            <option value="+">+</option>
            <option value="-">-</option>
            <option value="*">x</option>
            <option value="/">÷</option>
        </select>
        <input type="text" name="second-num">
        <button type="button" id="submit">Calculate</button>
    </form>
</div>
<div id="output"></div>

{# jquery #}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/static/app.js"></script>